@model IEnumerable<MKsEMS.Models.Leave>
@inject CurrentUser2 _currentUser
@using MKsEMS.Controllers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div>
    @{
        if (TempData["LeaveMsg"] != null)
        {
            <div class="alert alert-danger">
                @TempData["CreateMessageFail"]
            </div>
        }
        if (TempData["CreateMessageSuccess"] != null)
        {
            <div class="alert alert-success">
                <h5>

                    @TempData["CreateMessageSuccess"]
                </h5>
            </div>
        }
        //if (TempData["AdminMessage"] != null)
        //{
        //    <div class="alert alert-danger">
        //        <h5>
        //            @TempData["AdminMessage"]
        //        </h5>
        //    </div>
        //}
    }
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfDays)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenialReason)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfDays)
            </td>                
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenialReason)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @{
                        if (item.Status == "Pending")
                        {
                            <lable>|</lable>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <lable>|</lable>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            if (_currentUser.GetLoggedInUser().IsAdmin)
                            {
                                <lable>|</lable>
                                <a asp-action="ProcessLeave" asp-route-id="@item.Id">Process Leave</a>                                                                                   
                            }                            
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
